.content{
    margin-top: 70px;
    margin-bottom: 50px;
    margin-right: 80px;
    margin-left: 80px;
  }
  
  .main__heading{
      font-weight: bold;
  }
  
  .heading_margin{
      margin-top: 100px;
  }
  